@model Mvc4MusicStore.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
<h3>Use a local account to log in.</h3>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="form-wrapper">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            <!-- Input needs to be nested in label, not sure how to do this with LabelFor -->
            <label for="RememberMe">@Html.CheckBoxFor(m => m.RememberMe) Remember me</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Log in" />
    </div>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>

    <br /><br /><br />
    <p>
        <i class="fa fa-info-circle"></i>
        Try an example <a href="https://musicstore-dev-ed.my.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F9j0000000Lz5C">"deep link"</a> to Chatter.
    </p>
    <p class="api-tip">
        <i class="fa fa-hand-o-right"></i>
        <a href="http://developer.okta.com/docs/api/rest/authn.html#primary-authentication">
            This page authenticates users with Okta using the <code>/authn</code> Okta API endpoint.
        </a>
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
