@model Mvc4MusicStore.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
<p>First Name: <strong>@(((OktaProviders.OktaIdentity)User.Identity).FirstName)</strong></p>
<p>Last Name: <strong>@(((OktaProviders.OktaIdentity)User.Identity).LastName)</strong></p>
<p>Phone Number: <strong>@(((OktaProviders.OktaIdentity)User.Identity).PhoneNumber)</strong></p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<br /><br /><br />
<p class="api-tip">
    <i class="fa fa-hand-o-right"></i>
    This page 
    <a href="http://developer.okta.com/docs/api/rest/users.html#get-user">
        displays user information from Okta
    </a> 
    and 
    <a href="http://developer.okta.com/docs/api/rest/users.html#change-password">
        allows a user to change their Okta password 
    </a>
    using 
    <a href="http://developer.okta.com/docs/api/rest/users.html">
    the <code>/users</code> Okta API endpoint.
    </a>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
