@model Mvc4MusicStore.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h3>Create a new account.</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-wrapper">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    <input type="submit" class="btn btn-primary" value="Register" />
    </div>

    <br /><br /><br />
    <p class="api-tip">
        <i class="fa fa-hand-o-right"></i>
        <a href="http://developer.okta.com/docs/api/rest/users.html#create-user-with-password">
            This page creates users with Okta using the <code>/users</code> Okta API endpoint.
        </a>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
