@model Mvc4MusicStore.Models.Otp

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.passCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.passCode)
            @Html.ValidationMessageFor(model => model.passCode)
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </fieldset>
}