@model Mvc4MusicStore.Models.Album
@{
    ViewBag.Title = "Album - " + Model.Title;
}
<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title"
         src="@Model.AlbumArtUrl" />
</p>
<div id="album-details">
    <p>
        <b>Genre:</b>
        @Model.Genre.Name
    </p>
    <p>
        <b>Artist:</b>
        @Model.Artist.Name
    </p>
    <p>
        <b>Price:</b>
        @String.Format("{0:F}",
Model.Price)
    </p>
</div>
@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, new { @class = "btn btn-primary" })
